<%= div_for profile do %>
  <div class="name"><%= profile.full_name %></div>
  <div class="bio"><%= profile.bio %></div>
  <div class="homepage">
    <%= link_to 'Homepage', profile.homepage %>
  </div>
<% end %>
